{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="container2">
        <img class="logo" src="{% static 'images/me.jpg' %}">
        <div class="text">
            <h1>Hi There!</h1>
            <h1>I'm JORDAN N. VALDEZ</h1>
            <p>Meet Jordan Valdez, a dedicated and passionate student currently pursuing a Bachelor of Science in Information Technology (BSIT). With a strong interest in technology and its applications,
                Jordan is eager to deepen his understanding of computer systems, software development, and network management. Jordan's journey into the world of information technology began at a young age, inspired by a fascination with computers and how they shape our daily lives. Throughout his academic career, he has consistently demonstrated a commitment to learning and a drive to excel in his studies.</p>
        </div>
    </div>
{% endblock content %}